{# -- Partial Variables -- #}
{# ----------------------------------------------------------------- #}
{% set this = {
    cta: params.cta|default(true),
    headline: params.headline|default(null),
    text: params.text|default(null),
    btn1: params.btn1|default(null),
    btn2: params.btn2|default(null),
    logo: params.logo,
    social: params.social
} %}

{# -- Partial Template -- #}
{# ----------------------------------------------------------------- #}
<footer class="o-site__footer">

    {# -- Call to Action -- #}
    {% if this.cta != 1 %}
        {% include '_components/cta.twig' with {
            params: {
                headline: this.headline,
                text: this.text,
                btn1: params.btn1,
                btn2: params.btn2,
            }
        } only %}
    {% endif %}

    {# -- Footer -- #}
    <div class="c-footer">
        <h2 class="u-invisible">Footer Info</h2>
        <div class="c-footer__logo">
            <a href="/" class="c-media">
                <img src="{{ this.logo.url }}" alt="Website Logo" class="c-media__image" />
            </a>
        </div>
        <div class="c-footer__utility">
            <ul class="c-footer__social">
                {% for profile in this.social %}
                    {% set profile = profile.account %}
                    <li class="c-footer__social-profile">
                        <a href="{{ profile.url }}" target="_blank" rel="noopener noreferrer nofollow">
                            {{ source('_components/svg/social-' ~ profile.title ~ '.twig') }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
            <div class="c-footer__legal">
                <p>&copy; Website Title {{ 'now'|date('Y') }} | Website by <a href="https://onemohrti.me?utm_campaign=Footer+Links&utm_source=[website]" class="u-link" target="_blank" rel="noopener noreferrer nofollow">Derek Mohr</a></p>
            </div>
        </div>
    </div>
</footer>
