{# -- Partial Variables -- #}
{# ----------------------------------------------------------------- #}
{% set this = {
    sidebar: params.widgets
} %}

{# -- Partial Template -- #}
{# ----------------------------------------------------------------- #}
<aside class="o-sidebar">
    <h2 class="u-invisible">Archives</h2>
    {{ this.sidebar }}
</aside>
