/* ==========================================================================
    Section: Embeds
========================================================================== */

.c-embed {
    padding-left: $gutter;
    padding-right: $gutter;
}
