/* ==========================================================================
    Intro Content
========================================================================== */

.c-intro {
    @include content-width();
    @include padding();
    padding-top: $gutter;
    padding-bottom: $gutter;

    p, ul, ol {
        margin-left: 0;
    }
}
