/* ==========================================================================
    Text & Image
========================================================================== */

.-textAndImage {

    // image right, text left
    @include media(">=medium") {
        display: flex;
        align-items: center;
        margin-right: 0;
    }
    @include media(">=large") {
        margin-right: $gutter-xl;
    }
    @include media(">=big") {
        margin-right: $gutter * 4;
    }

    // image left, text right
    &.-reversed {
        flex-direction: row-reverse;
        margin-right: $gutter-lg;
        margin-left: 0;
        @include media(">=large") {
            margin-left: $gutter-xl;
            margin-right: $gutter-xl;
        }
        @include media(">=big") {
            margin-left: $gutter * 4;
            margin-right: $gutter * 4;
        }

        // text column
        ._col.-wysiwyg {
            padding-right: 0;
            padding-left: $gutter;
            @include media(">=large") {
                padding-right: 0;
                padding-left: $gutter-lg;
            }
        }

        // Image column
    }

    // only two columns
    ._col {
        position: relative;

        // Text column
        &.-wysiwyg {

            @include media(">=medium") {
                flex-grow: 0;
                flex-shrink: 0;
                flex-basis: 50%;
                max-width: 50%;
                margin-bottom: 0;
                padding-right: $gutter;
            }
            @include media(">=large") {
                padding-right: $gutter-lg;
            }
            @include media(">=large") {
                flex-basis: 45%;
                max-width: 45%;
            }
            @include media(">=big") {
                flex-basis: 40%;
                max-width: 40%;
            }
        }

        // Image column
        &.-image {

            @include media(">=medium") {
                flex-grow: 0;
                flex-shrink: 0;
                flex-basis: 50%;
                max-width: 50%;
            }
            @include media(">=large") {
                flex-basis: 55%;
                max-width: 55%;
            }
            @include media(">=big") {
                flex-basis: 60%;
                max-width: 60%;
            }

            ._image {
                width: 100%;
            }
        }
    }
}
