/* @import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;600;700;800&family=Barlow:ital,wght@0,400;0,600;0,700;1,400&display=swap"); */

body#tinymce {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 0.75em;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-size: 2.75em;
  font-weight: 400;
  line-height: 1.2em;
}

a {
  font-family: inherit;
  text-decoration: none;
  border-bottom: 1px #333 solid;
  color: inherit;
}

p, li {
  font-size: 1em;
  line-height: 1.5em;
}

p, ul, ol {
  margin: 0 0 1.5em;
}

p:last-child, ul:last-child, ol:last-child {
  margin-bottom: 0;
}

b, strong {
  font-weight: 700;
}

i, em {
  font-style: italic;
}
