/* ==========================================================================
    Forms
========================================================================== */

#{$all-text-inputs} {
    display: block;
    width: auto;
    height: auto;
    padding: $small-spacing;
    border: 2px solid $black;
    border-radius: $border-radius;
    background-color: transparent;
    color: $black;
    // all: revert;
}

[type=file], select {
    display: block;
    padding: $small-spacing;
    border: 2px solid $black;
    border-radius: $border-radius;
    background-color: transparent;
    color: $black;
}
