/* ==========================================================================
    Base
========================================================================== */

html {
    // height: 100%;
    font-size: 1em;
    line-height: 1em;

    // If Javascript is turned off...
    // &.no-js {}
}

body {
    position: relative;
    width: 100%;
    // height: 100%;
    min-height: 100vh;
    // overflow-x: hidden;
    // overflow-y: auto;
    font-family: $font-body;
    // font-size: clamp(100%, 1rem + 2vw, 1.33em);
    font-size: 1em;
    background-color: $white--darker;
    color: $black;

    // crisp typography rendering
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &.no-scrollingPlz {
        overflow: hidden;
    }

    // "Overflow" scrolling on large monitors
    @include media(">=big") {
        padding-bottom: 100px;
    }
    @include media(">=huge") {
        padding-bottom: 150px;
    }
}

/**
* === SITE ===
*/

.o-site {
    position: relative;
    max-width: 100%;
    min-height: 100vh;
    padding-top: 0;
    padding-bottom: 72px;
    transition: $speed linear;

    @include media(">=small") {
        padding-bottom: 0;

        &.-activeNavigationAreaUpTopButNotWhenScrolling {
            padding-top: 100px;
        }
    }

    @include media(">=big") {
        max-width: 1440px;
    }

    @include media(">=huge") {
        max-width: 1600px;
    }
}

.o-site__main {
    position: relative;
    min-height: 100vh;
    background-color: $white;
    color: $black;
}
