/* ==========================================================================
    Section: Text & Media
========================================================================== */

.c-textMedia {
    position: relative;
    display: block;

    // screen at or above 900px
    @include media(">=medium") {
        display: flex;
        justify-content: space-between;
        align-items: center;

        // Even/Odd pattern
        &.is-reversed,
        .o-section.is-text-media:nth-child(even) & {
            flex-direction: row-reverse;
        }
    }
}

.c-textMedia__text {
    margin-bottom: $gutter-sm;

    .u-wysiwyg {
        margin-top: $base-spacing;
    }

    .c-button {
        margin-top: 1em;
    }

    // screen at or above 900px
    @include media(">=medium") {
        flex: 1 1 50%;
        max-width: calc(50% - $gutter-sm);
        margin-bottom: 0;
    }
}

.c-textMedia__media {

    .c-media,
    .swiper-slide {
        overflow: hidden;
        border-radius: $border-radius;
    }

    // screen at or above 900px
    @include media(">=medium") {
        flex: 1 1 50%;
        max-width: calc(50% - $gutter-sm);
    }
}
