/* ==========================================================================
    Section: Video
========================================================================== */

.c-video {
    position: relative;
    overflow: hidden;
    border-radius: $border-radius;
}
