{# -- Component Variables -- #}

{% set this = {
    video: params.video|default(null)
} %}

{# -- Component Template -- #}

{% if this.video %}
<div class="c-videoEmbed">

    <figure class="c-videoEmbed__video u-ratio u-16:9">
        {{ this.video }}
    </figure>

</div>
{% endif %}
