{# -- Component Variables -- #}

{% set this = {
    headline: params.headline|default('Stay up-to-date with the latest and greatest!'),
    body: params.text|default('Here&rsquo;s how to be the first to find out the MCA&rsquo;s events or news.'),
    button1: params.btn1|default(null),
    button2: params.btn2|default(null),
} %}

{# -- Component Template -- #}

<div class="c-callToAction">

    <div class="c-callToAction__text">
        <h2 class="u-headline">{{ this.headline }}</h2>
        {% if this.body %}
            <div class="u-wysiwyg">
                {{ this.body }}
            </div>
        {% endif %}
    </div>

    <div class="c-callToAction__button">

        {# {% if not this.button1 and not this.button2 %}
            {% filter shortcodes %}
                [mc4wp_form id=264]
            {% endfilter %}

        {% else %} #}
            {% if this.button1 %}
                {% include '_elements/button.twig' with {
                    params: {
                        url: this.button1.url,
                        text: this.button1.title,
                        target: this.button1.target,
                        primary: false
                    }
                } only %}
            {% endif %}
            {% if this.button2 %}
                {% include '_elements/button.twig' with {
                    params: {
                        url: this.button2.url,
                        text: this.button2.title,
                        target: this.button2.target,
                        primary: true
                    }
                } only %}
            {% endif %}

        {# {% endif %} #}

    </div>

</div>
