{# -- Component Variables -- #}

{% set this = {
    testimonial: params.section|default(null)
} %}

{# -- Component Template -- #}

{% if this.testimonial %}
<div class="c-content">

<pre>
    {{ dump(this.testimonial.testimonial) }}
</pre>
    {# <div class="u-wysiwyg">
        <h2 class="u-headline">{{ this.text.headline }}</h2>
        {{ this.text.body }}
    </div>

    {% if this.text.button %}
        {% include '_elements/button.twig' with {
            params: {
                url: this.text.button.url,
                text: this.text.button.title,
                target: this.text.button.target,
                primary: true
            }
        } only %}
    {% endif %} #}

</div>
{% endif %}
