{# -- Component Variables -- #}

{% set this = {
    form: params.section|default(null)
} %}

{# -- Component Template -- #}

{% if this.form %}
<div class="c-form">

    {% set formId = this.form.form %}

    {% filter shortcodes %}
        [wpforms id="{{ formId }}"]
    {% endfilter %}

</div>
{% endif %}
