{# -- Component Variables -- #}

{% set this = {
    scriptEmbed: params.section|default(null)
} %}

{# -- Component Template -- #}

{% if this.scriptEmbed %}

    <div class="c-embed">
        {{ this.scriptEmbed.embed_code|raw }}
    </div>

{% endif %}
