{# -- Component Variables -- #}

{% set this = {
    text: params.text|default(''),
    image: params.image|default(null),
} %}

{# -- Component Template -- #}

<section class="c-textMedia">

    <div class="c-textMedia__text u-wysiwyg">
        {{ this.text }}
    </div>

    <figure class="c-textMedia__media">
        {% include '_elements/picture.twig' with {
            params: {
                src: get_image(this.image),
                ratio: '1:1'
            }
        } only %}
    </figure>

    <div class="c-textMedia--curve">
        <svg class="c-media__svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M602.45,3.86h0S572.9,116.24,281.94,120H923C632,116.24,602.45,3.86,602.45,3.86Z" class="shape-fill"></path>
        </svg>
    </div>

</section>
