{# -- Component Variables -- #}

{% set this = {
    headline: params.headline,
    text: params.text|default(''),
    image: params.image|default(null),
    isReverse: params.alignment|default(false)
} %}

{# -- Component Template -- #}
{% if this.textMedia %}
<div class="c-textMedia{{ this.isReverse }}">

    <div class="c-textMedia__text">
        {% if this.headline %}
            <h3 class="u-heading">{{ this.headline }}</h3>
        {% endif %}
        {% if this.text %}
            <div class="u-wysiwyg">
                {{ this.text }}
            </div>
        {% endif %}
        {% if this.button %}
            {% include '_elements/button.twig' with {
                params: {
                    url: text.button.url,
                    text: text.button.title,
                    target: text.button.target,
                }
            } only %}
        {% endif %}
    </div>

    <figure class="c-textMedia__media">
        {% include '_elements/picture.twig' with {
            params: {
                src: get_image(this.image),
                ratio: '1:1'
            }
        } only %}
    </figure>

</section>
{% endif %}
